---
import { type NavbarItemEntry, NavbarItemType } from "./types";
const entry: NavbarItemEntry = Astro.props.entry;
---

{
    (() => {
        switch (entry?.type) {
            case NavbarItemType.TEXT:
                return <div>{entry.label}</div>;
            case NavbarItemType.LINK:
                return <a href={entry.href}>{entry.label}</a>;
            case NavbarItemType.IMAGE:
                return <img src={entry.href} alt={entry.label} />;
            default:
                return null;
        }
    })()
}
